.btn,
.jumbotron,
.nav :hover {
  border-radius: 1px;
}

.eachcourse:hover {
  transform: scale(1.15);
  transition: all 0 ease-in-out;

  
}
.eachcourse{
  transition: all 0.2s ease-in-out;
  animation: fadeInRight 1.1s ease-in-out ;
} 




.ui.button.selected{
  background-color: rgba(0,0,0, .6);
  color: white;
}

.ui.button.selected:focus{
  background-color: rgba(0,0,0, .6);
  color: white;
}
.ui.button:focus{
  background-color: rgba(0,0,0, .6);
  color: white;
}



.jumbotron.bg-light.text-dark.text-center{
  height: 11rem;
}

.form-control{
  padding: .875rem .75rem;
}

.btn{
  margin-top: .4rem;
  padding: .875rem .75rem;
  border-radius: 5px; 
}

@media(min-width:450px){
  .parent_container{
    display: grid; 
    grid-template-columns: 1fr;
  }
  .column{
    width: 100%;
  }

}

.ui.grid.container{
  gap: 1rem;
}

.parent_container{
  display: flex;
  /* gap: 1rem; */
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3,1fr); */
  align-content: space-around;
  justify-content: space-around; 
  column-gap: .5rem;
    row-gap: 3rem;
}
.colum{
  width: 18rem;
}

footer{
  position: absolute;  
  left: 0px;
  right: 0px;

}
body {
  background: #343a40;
}

.home_grid{
  width: 100%;
  border-radius: 5px;
  display: flex;
  padding: 1rem 0px;
  align-items: center;
  justify-content: center;
  background-color: #343a40;
  
  animation: fadeInRight 1.8s ease-in-out ;
} 

.jumbotron.bg-light.text-dark.text-center h6{
  animation: fadeInRight .3s ease-in-out ;
}

@keyframes fadeInRight { 
  from{
    transform: translate(-1rem,0);
    opacity: 0.5;
    display: none;

  }
  to{ 
    transform: translate(0,0);
    
    opacity: 1;
    
  }
}

.home_grid li{
  font-size: 1.2rem;
    padding: .4rem ;
    list-style: none;
    text-align: center;
    line-height: 2.5rem; 
    /* animation: textAnimation 1s ease-in-out 1.5s ; */

}
.home_grid li ::before{
  color: wheat;
  content: '✓';
}

@keyframes textAnimation {
  from{
    transform: translate(2rem,0);
    opacity: .5;
  }
  to{
    transform: translate(0,0);
    opacity: 1;
  }
}


@media(max-width:480px){
  .some_colum{
    min-width: 120%; 
    margin-left: -11%;
  }
  .ui.grid>*{ 
    padding-left: unset;
    padding-right: unset;
  } 
  .reply{
    width: 113%;
    margin-left: -10%
  }
  .comment{
    margin: 0;
    display: block;
  }
  .home_grid li{
    line-height: 2.1rem;
  }
}

