<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Register</h2>
    <form action="" method="POST">
        Username: <input type="text" name="uname"><br>
        Firstname: <input type="text" name="fname"><br>
        lastname: <input type="text" name="lname"><br>
        password: <input type="password" name="password"><br>

            <select class="selectpicker" data-style="btn-info" name="role">
                <optgroup label="Login as">
                    <option value="Teacher">Teacher</option>
                    <option value="Student">Student</option>
                </optgroup>
            </select>
      
        <button type="submit">submit</button>
    </form>
</body>
</html>